<div class="container">
  <div class="row">
    <div class="col-md-4 mt-3" *ngFor="let listing of listings">
      <div class="card">
        <!-- <img src="{{listing.path}}" alt="{{listing.title}}" class="img-fluid"> -->
        <div class="card-body">
          <h5 class="card-title mb-0 text-capitalize">{{listing.title}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>
              <i class="fa fa-money-bill mr-1"></i>Price:</strong> P{{listing.price | number:"1.0-0"}}</li>
          <li class="list-group-item">
            <strong>
              <i class="fa fa-map-marker-alt mr-1"></i>Location:</strong> {{listing.city}}</li>
          <li class="list-group-item">
            <strong>
              <i class="fa fa-door-open mr-1"></i>Bedrooms:</strong> {{listing.bedrooms}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-outline-success btn-block" [routerLink]="['/listing/'+listing.$key]">
            <i class="fa fa-home mr-1"></i>View Property</a>
        </div>
      </div>
    </div>
  </div>
</div>